{{route-bar}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Tech Park Rentals</h2>
  <p>
    The Tech Park Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling AND building Ember applications.
    Rock On!
  </p>

</div>
