{{route-bar}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h1>
    <em>Welcome to Tech Park Rentals</em>
  </h1>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>

  {{#list-filter
    filter=(action 'filterByCity')
    as |filteredResults|}}

    {{#each filteredResults as |rentalUnit|}}
      {{rental-listing rental=rentalUnit}}
    {{/each}}

  {{/list-filter}}
</div>
